<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="net.splitcells.network.distro.rcp.product">
         <property
               name="lifeCycleURI"
               value="bundleclass://net.splitcells.network.distro.rcp.plugin/net.splitcells.network.distro.rcp.plugin.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="net.splitcells.network.distro.rcp.product">
         </property>
         <property
               name="windowImages"
               value="../../../../net.splitcells.network.media/src/main/resources/html/net/splitcells/website/icons/bird-256x256.bmp">
         </property>
      </product>
   </extension>

</plugin>
