<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.local/state/${net.splitcells.dem.environment.config.ProgramName}/logs/execution-current.log</file>
        <!--<file>/home/splitcells/.local/state/logs/execution-current.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/.local/state/${net.splitcells.dem.environment.config.ProgramName}/logs/execution-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <minIndex>1</minIndex>
            <maxIndex>7</maxIndex>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="log"/>
    </root>
</configuration>