<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.local/state/${net.splitcells.dem.environment.config.ProgramName}/logs/execution-current.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/.local/state/${net.splitcells.dem.environment.config.ProgramName}/logs/execution-%d{yyyy-MM-dd}-%i.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>1GB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="log"/>
    </root>
</configuration>